<h1>게시판</h1>
<a href ="/home/new">새글 쓰기</a><br>
<%@posts.each do |x|%>
    제목:<%=x.title%><br>
    내용:<%=x.content%><br>
    <a href ="/home/delete/<%=x.id%>">[삭제]</a>
    <a href = "/home/edit/<%=x.id%>">[수정]</a></br>
    <form action ='/<%=x.id%>/comment_create' method ="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        댓글:<input type="text" name="content">
        <input type="submit" value="제출"/><br>
    </form>
    <%x.comments.each do |c| %>
        댓글:<%= c.content%>
        <br>
    <%end%>
    <hr>
<%end%>
    